<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow-sm py-4 border-bottom border-1 border-white">
    <div class="container">
        
        <a class="navbar-brand d-flex align-items-center fs-3" href="#">
            <img src="images/logo.png" alt="Logo Re-Tailor" width="55" height="55" class="me-3 object-fit-contain">
            RE-TAILOR
        </a>
        
        <div class="d-flex align-items-center order-lg-3">
            <a href="#" class="text-white border border-white rounded-circle d-flex align-items-center justify-content-center me-3 me-lg-0 ms-lg-4" style="width: 50px; height: 50px; text-decoration: none;">
                <i class="bi bi-cart3 fs-4"></i> 
            </a>
            
            <button class="navbar-toggler border-white p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mx-auto mt-3 mt-lg-0">
                <a class="nav-link px-3 fs-5" href="#">FEMME</a>
                <a class="nav-link px-3 fs-5" href="#">HOMME</a>
                <a class="nav-link px-3 fs-5" href="#">ENFANT</a>
                <a class="nav-link px-3 fs-5" href="#">NOS SERVICES</a>
            </div>
        </div>
        
    </div>
</nav>